<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Reverb"
            id="ca.ubc.cs.reverb.eclipseplugin">
      </category>
      <view
            name="Reverb"
            icon="icons/reverb-16.png"
            category="ca.ubc.cs.reverb.eclipseplugin"
            class="ca.ubc.cs.reverb.eclipseplugin.views.RelatedPagesView"
            id="ca.ubc.cs.reverb.eclipseplugin.views.RelatedPagesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ca.ubc.cs.reverb.eclipseplugin.views.RelatedPagesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ca.ubc.cs.reverb.eclipseplugin.commands.openRelatedPagesView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+]">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="ca.ubc.cs.reverb.eclipseplugin.views.OpenRelatedPagesViewHandler"
            description="Open the Reverb view"
            id="ca.ubc.cs.reverb.eclipseplugin.commands.openRelatedPagesView"
            name="Open Reverb">
      </command>
   </extension>

</plugin>
